<footer class="site-footer js-site-footer">
  <div class="social-networks">
    <a rel="noopener" class="icon-social icon-instagram-with-circle" href="{{ site.instagram_url }}" target="_blank" title="instagram" rel="nofollow"></a>
    <a rel="noopener" class="icon-social icon-linkedin-with-circle" href="{{ site.linkedin_url }}" target="_blank" title="linkedin" rel="nofollow"></a>
  </div>
  <div class="footer-links">
    <div class="credits">© Esteban Wendling {% assign y = 'now' | date: "%Y" %}{{ y }}{% if page.url contains '/a-propos' %} · Crafted with love & the machine by <a href="https://www.linkedin.com/in/marionlabbe" target="_blank" rel="noopener nofollow">Ixora</a>{% endif %}</div>
  </div>
  <div class="nav-tip js-nav-tip">
    Use arrows
    <button type="button" class="nav-tip__button nav-tip__button--prev button icon-chevron-small-left js-nav-tip__prev"></button>
    <button type="button" class="nav-tip__button nav-tip__button--next button icon-chevron-small-right js-nav-tip__next"></button>
    for navigation
  </div>
</footer>

<script src="{{ '/assets/fluxus/js/hammer.min.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/jquery.tinyscrollbar.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/jquery.sharrre.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/normalize-wheel.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/jquery.fluxus-grid.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/jquery.reveal.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/jquery.fluxus-lightbox.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/iscroll.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/burger-menu.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/fastclick.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/lazysizes.min.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/ls.respimg.min.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/user.js' | relative_url }}"></script>
