<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>

<link rel="icon" href="{{ '/assets/images/favicon/favicon-32.jpg' | relative_url }}" sizes="32x32" />
<link rel="icon" href="{{ '/assets/images/favicon/favicon-192.jpg' | relative_url }}" sizes="192x192" />
<link rel="apple-touch-icon" href="{{ '/assets/images/favicon/apple-touch-icon.jpg' | relative_url }}" />

<link rel="stylesheet" href="{{ '/assets/fluxus/css/normalize.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/fluxus/css/global.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/fluxus/css/swiper.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/fluxus/css/icomoon.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/fluxus/css/style.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/fluxus/css/responsive.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/fluxus/css/plyr.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/fluxus/css/user.css' | relative_url }}" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather" media="screen" />

<script src="{{ '/assets/fluxus/js/plyr.min.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/swiper.js' | relative_url }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ '/assets/fluxus/js/underscore.min.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/helpers.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/main.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/utils.js' | relative_url }}"></script>
<script src="{{ '/assets/fluxus/js/full-page-slider.js' | relative_url }}"></script>
