pre {
  font-family: "Menlo", "Consolas", "monaco", monospace;
  font-size: 13px;
  line-height: 1.3;
  margin: 0 0 16px;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
  color: #111116;
  border: 1px dashed #ebebeb;
  white-space: pre-wrap;
  background-color: #fff;
}

/**
 * Global Sytles
 **/
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  /* Otherwise background is transparent in Wordpress Customizer */
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

a {
  -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  text-decoration: none;
  color: #111116;
}
a .hash {
  -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
a:focus, a:hover, a:active {
  outline: 0;
}
a img {
  border: 0;
}

body,
button,
input,
select,
textarea {
  font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #111116;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: normal;
  margin: 0;
}

/* Text elements */
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
  font-size: 13px;
}

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  text-decoration: none;
  cursor: help;
}

a abbr,
a acronym,
a abbr[title] {
  border-bottom: 0 none;
}

mark,
ins {
  background-color: #fff9c0;
  text-decoration: none;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

figure {
  margin: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  font-weight: bold;
}

button,
input,
select,
textarea {
  outline: 0;
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  font: normal 12px/15px "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
  padding: 10px 16px 11px;
  display: inline-block;
  border-radius: 1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  border: 0;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #111116;
  background-color: #eaeaea;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
}
.entry-content button,
.entry-content input[type=button],
.entry-content input[type=reset],
.entry-content input[type=submit] {
  border-bottom: 0 none;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  color: #333;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  background-color: #e0e0e0;
}
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
  background-color: #ccc;
}

input[type=search] {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
textarea {
  color: #999;
  border: 1px solid #d7d7d7;
  border-top-color: #c5c5c5;
  border-radius: 1px;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px 10.6666666667px;
}
input[type=text]:hover, input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=url]:hover,
input[type=url]:focus,
textarea:hover,
textarea:focus {
  color: #111116;
  border-color: #c5c5c5;
}

textarea {
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%;
  padding: 4px;
}

/**
 * Make sure embeds and iframes fit their containers.
 */
embed,
iframe,
object {
  max-width: 100%;
  border: 0 none;
}

/**
 * Utility classes.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/**
 * Hides text, but makes it visible to screen readers.
 */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/**
 * Bootstrap Grid
 */
.row-fluid {
  width: 100%;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*=span] {
  float: left;
  margin-left: 6.5637065637%;
}

.row-fluid [class*=span]:first-child {
  margin-left: 0;
}

.row-fluid .span12 {
  width: 100%;
}

.row-fluid .span11 {
  width: 91.1196911197%;
}

.row-fluid .span10 {
  width: 82.2393822394%;
}

.row-fluid .span9 {
  width: 73.3590733591%;
}

.row-fluid .span8 {
  width: 64.4787644788%;
}

.row-fluid .span7 {
  width: 55.5984555985%;
}

.row-fluid .span6 {
  width: 46.7181467181%;
}

.row-fluid .span5 {
  width: 37.8378378378%;
}

.row-fluid .span4 {
  width: 28.9575289575%;
}

.row-fluid .span3 {
  width: 20.0772200772%;
}

.row-fluid .span2 {
  width: 11.1969111969%;
}

.row-fluid .span1 {
  width: 2.3166023166%;
}

.row-fluid .offset12 {
  margin-left: 113.1274131274%;
}

.row-fluid .offset12:first-child {
  margin-left: 106.5637065637%;
}

.row-fluid .offset11 {
  margin-left: 104.2471042471%;
}

.row-fluid .offset11:first-child {
  margin-left: 97.6833976834%;
}

.row-fluid .offset10 {
  margin-left: 95.3667953668%;
}

.row-fluid .offset10:first-child {
  margin-left: 88.8030888031%;
}

.row-fluid .offset9 {
  margin-left: 86.4864864865%;
}

.row-fluid .offset9:first-child {
  margin-left: 79.9227799228%;
}

.row-fluid .offset8 {
  margin-left: 77.6061776062%;
}

.row-fluid .offset8:first-child {
  margin-left: 71.0424710425%;
}

.row-fluid .offset7 {
  margin-left: 68.7258687259%;
}

.row-fluid .offset7:first-child {
  margin-left: 62.1621621622%;
}

.row-fluid .offset6 {
  margin-left: 59.8455598456%;
}

.row-fluid .offset6:first-child {
  margin-left: 53.2818532819%;
}

.row-fluid .offset5 {
  margin-left: 50.9652509653%;
}

.row-fluid .offset5:first-child {
  margin-left: 44.4015444015%;
}

.row-fluid .offset4 {
  margin-left: 42.0849420849%;
}

.row-fluid .offset4:first-child {
  margin-left: 35.5212355212%;
}

.row-fluid .offset3 {
  margin-left: 33.2046332046%;
}

.row-fluid .offset3:first-child {
  margin-left: 26.6409266409%;
}

.row-fluid .offset2 {
  margin-left: 24.3243243243%;
}

.row-fluid .offset2:first-child {
  margin-left: 17.7606177606%;
}

.row-fluid .offset1 {
  margin-left: 15.444015444%;
}

.row-fluid .offset1:first-child {
  margin-left: 8.8803088803%;
}

/**
 * Tiny excerpt from Bootstrap 4.
 */
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-12, .col-6 {
  position: relative;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 576px) {
  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.mb-mini {
  margin-bottom: 8px !important;
}

.mb-1 {
  margin-bottom: 16px !important;
}

.mb-2 {
  margin-bottom: 32px !important;
}

@media only screen and (max-width: 768px) {
  .mb-sm-1 {
    margin-bottom: 16px !important;
  }
}
.mr-mini {
  margin-right: 8px !important;
}

.mr-1 {
  margin-right: 16px !important;
}

.ml-mini {
  margin-left: 8px !important;
}

.mx-mini {
  margin-right: 8px !important;
  margin-left: 8px !important;
}

.mb-3 {
  margin-bottom: 64px !important;
}

.mt-mini {
  margin-top: 8px !important;
}

.mt-1 {
  margin-top: 16px !important;
}

.mt-2 {
  margin-top: 32px !important;
}

.mt-3 {
  margin-top: 64px !important;
}

.my-site {
  margin-left: 16px;
  margin-right: 16px;
}

.translate-into-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.pos-rel {
  position: relative;
}

.visibility-hidden {
  visibility: hidden !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

@media (min-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-auto {
    width: auto !important;
  }
}
@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }

  .w-md-auto {
    width: auto !important;
  }
}
@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg-auto {
    width: auto !important;
  }
}
@media (min-width: 1280px) {
  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-auto {
    width: auto !important;
  }
}
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }

  .text-sm-right {
    text-align: right !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }

  .text-md-right {
    text-align: right !important;
  }

  .text-md-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }

  .text-lg-right {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1280px) {
  .text-xl-left {
    text-align: left !important;
  }

  .text-xl-right {
    text-align: right !important;
  }

  .text-xl-center {
    text-align: center !important;
  }
}
